@page "/admin_account"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject IJSRuntime JS
@inject NavigationManager navigation

<PageTitle>Admin account</PageTitle>

<style type="text/css">
    .lblOne {
        text-decoration: underline;
        width: 100px;
        white-space: nowrap;
        font-weight: 700;
        font-size: 23px;
    }

    .lblTwo {
        font-size: 23px;
    }

    .field {
        width: 85%;
        background: #9F4FF9;
        border-radius: 20px;
        font-size: 20px;
        padding: 7px;
    }

    .tableOne {
        display: inline-table;
        position: absolute;
        left: 33%;
        top: 30%;
    }

    .tableTwo {
        display: inline-table;
        position: absolute;
        left: 65%;
        top: 30%;
    }

    .button {
        position: absolute;
        right: 30%;
        height: 50px;
        width: 200px;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }
</style>

<div class="tableOne">
    <table>
        <tr>
            <td><label class="lblOne">ЛИЧНЫЕ ДАННЫЕ:</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Фамилия:</label></td>
            <td><input class="field" id="surname" type="text" value="@dataBase.CurrentUser?.Surname" disabled="true"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Имя:</label></td>
            <td><input class="field" id="name" type="text" value="@dataBase.CurrentUser?.Name" disabled="true"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Отчество:</label></td>
            <td><input class="field" id="patronymic" type="text" value="@dataBase.CurrentUser?.Patronymic" disabled="true"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Номер телефона:</label></td>
            <td><input class="field" id="phone_number" type="text" value="@dataBase.CurrentUser?.PhoneNumber" disabled="true"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">E-mail:</label></td>
            <td><input class="field" id="mail" type="text" value="@dataBase.CurrentUser?.EMail" disabled="true"></td>
        </tr>
    </table>
</div>

<div class="tableTwo">
    <table>
        <tr>
            <td><label class="lblOne">ДАННЫЕ ДЛЯ ВХОДА:</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Логин:</label></td>
            <td><input class="field" style="color: @color" id="login" type="text" @bind-value="@dataBase.CurrentUser.Login" disabled="@isDisable"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Пароль:</label></td>
            <td><input class="field" style="color: @color" id="password" type="password" @bind-value="@dataBase.CurrentUser.Password" disabled="@isDisable"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><button class="button" @onclick="Red">Редактировать</button><br /></td>
        </tr>
    </table>
</div>

@code {
    private bool isDisable = true;
    private string color = "";
    private int count = 0;

    public void Red()
    {
        if (isDisable)
            isDisable = false;
        else
            isDisable = true;

        if (color == "")
            color = "#cccccc";
        else
            color = "";

        count++;

        if (count == 2)
        {
            dataBase.UserReplace(dataBase.CurrentUser.Id, dataBase.CurrentUser);
            JS.InvokeVoidAsync("alert", "Пользователь был изменен");
            count = 0;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "AdminAccount";
        await base.OnInitializedAsync();
    }
}