@page "/editing_movie"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject FileSystemService fss
@inject IJSRuntime JS
@inject NavigationManager navigation

<PageTitle>Редактирование кинофильма</PageTitle>

<style type="text/css">
    .lblOne {
        text-decoration: underline;
        width: 100px;
        white-space: nowrap;
        font-weight: 700;
        font-size: 23px;
    }

    .lblTwo {
        font-size: 23px;
    }

    .field {
        width: 85%;
        background: #9F4FF9;
        border-radius: 20px;
        font-size: 20px;
        padding: 7px;
    }

    .button {
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
        height: 50px;
        width: 200px;
    }

    table{
        width: 97%;
        margin-left: 55 px;
    }
</style>

<div>
    <table>
        <tr>
            <td><label class="lblOne">ДАННЫЕ О ФИЛЬМЕ:</label></td>
        </tr>
        <tr >
            <td><label class="lblTwo">Название:</label></td>
            <td><input class="field" id="movie_name" type="text" @bind-value="@dataBase.CurrentMovie.Name"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Жанр:</label></td>
            <td><input class="field" id="genre" type="text" @bind-value="@dataBase.CurrentMovie.Genre"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Режиссер:</label></td>
            <td><input class="field" id="regisseur" type="text" @bind-value="@dataBase.CurrentMovie.Regisseur"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Продюсер:</label></td>
            <td><input class="field" id="roles" type="text" @bind-value="@dataBase.CurrentMovie.Producer"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Сценарий:</label></td>
            <td><input class="field" id="roles" type="text" @bind-value="@dataBase.CurrentMovie.Script"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Страна:</label></td>
            <td><input class="field" id="country" type="text" @bind-value="@dataBase.CurrentMovie.Country"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Продолжительность:</label></td>
            <td><input class="field" id="duration" type="text" @bind-value="@dataBase.CurrentMovie.Duration"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Цена билета 2D:</label></td>
            <td><input class="field" id="price_2D" type="text" @bind-value="@dataBase.CurrentMovie.Price2D"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Цена билета 3D:</label></td>
            <td><input class="field" id="price_3D" type="text" @bind-value="@dataBase.CurrentMovie.Price3D"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Цена билета VIP:</label></td>
            <td><input class="field" id="price_VIP" type="text" @bind-value="@dataBase.CurrentMovie.PriceVIP"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr >
            <td><label class="lblTwo">Описание:</label></td>
            <td><textarea rows="10" class="field" id="description" type="text" @bind="@dataBase.CurrentMovie.Description" /></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Постер:</label></td>
            <InputFile OnChange="@(async(e) => await LoadFiles(e))" multiple />
        </tr>
        <tr>
            <td><label></label></td>
            <td><label>@dataBase.CurrentMovie.Poster</label></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label></label></td>
            <td style="text-align: right;"><button class="button" style="margin-right: 80px; margin-bottom: 20px;" @onclick="Save">Сохранить</button><br /></td>
        </tr>
    </table>
</div>

@code {
    List<IBrowserFile> loadedFiles = new List<IBrowserFile>();

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            loadedFiles.Add(file);
            Stream stream = file.OpenReadStream(5000000000);
            await fss.UploadImageToDbAsync(stream, file.Name);
            dataBase.CurrentMovie.Poster = file.Name;
            fss.DownloadToLocal(file.Name);
            stream.Dispose();
        }
    }

    public void Save()
    {
        if (dataBase.CurrentMovie.Name != null && dataBase.CurrentMovie.Genre != null && dataBase.CurrentMovie.Regisseur != null &&
        dataBase.CurrentMovie.Producer != null && dataBase.CurrentMovie.Script != null && dataBase.CurrentMovie.Country != null &&
        dataBase.CurrentMovie.Duration != null && dataBase.CurrentMovie.Price2D != null && dataBase.CurrentMovie.Price3D != null &&
        dataBase.CurrentMovie.PriceVIP != null && dataBase.CurrentMovie.Description != null && dataBase.CurrentMovie.Poster != "")
        {
            dataBase.MovieReplace(dataBase.CurrentMovie.Id, dataBase.CurrentMovie);
            JS.InvokeVoidAsync("alert", "Фильм был изменен");
            navigation.NavigateTo("/");
        }
        else
        {
            JS.InvokeVoidAsync("alert", "Для изменения кинофильма все поля должны быть заполнены!");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "EditingMovie";
        await base.OnInitializedAsync();
    }
}