@page "/hall_one"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject Session session

<PageTitle>2D hall</PageTitle>

<style>
    .button {
        position: absolute;
        left: 49%;
        top: 75%;
        height: 10%;
        width: 20%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .button3d {
        position: absolute;
        left: 53.5%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .buttonVip {
        position: absolute;
        left: 62.3%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .buttonOne, .placeOne {
        position: relative;
        display: inline-block;
        background: #9F4FF9;
        width: 3em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        outline: none;
        border-radius: 5px;
    }

    .buttonTwo, .placeTwo {
        position: relative;
        display: inline-block;
        background: #902DFF;
        width: 3em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        outline: none;
        border-radius: 5px;
    }

        .buttonOne:hover, .buttonTwo:hover, .buttonOne:focus, .buttonTwo:focus {
            background: #6921BB;
        }

        .buttonOne:active, .buttonTwo:active {
            background: none;
        }

    .block {
        position: absolute;
        left: 43%;
        top: 25%;
    }
</style>

<div class="table">
    <table>
        <tr>
            <td><button class="button" @onclick="Buy">Купить билет</button></td>
            <td><button class="placeOne"></button></td>
            <td><label> - место</label></td>
            <td><button class="placeTwo"></button></td>
            <td><label> - комфорт</label></td>
        </tr>
    </table>
</div>

<div class="block">
    @foreach (var place in session.Hall.Places)
    {
        <button class="buttonOne" @onclick="() => Place(place.Key)">@place.Key</button>
        count++;
        @if (count == 10)
        {
            <br /> <br />
            count = 0;
        }
    }
</div>

<label>Ваше место: @place</label>

@*<div class="block">
    @foreach ( var place in hall.Places)
    {
        @if(GetCount() == 0)
        {
            <label>@place.Row</label>
        }
        <button class="buttonOne" @onclick="() => Place(place.Row, place.PlaceNumber)">@place.PlaceNumber</button>
        @if(GetCount() == 19)
        {
            <label>@place.Row</label>
            <br/><br/>
            count = 0;
        }
    }
</div>*@

@code {
    int count = 0, rowCount = 0; 
    string place = "";

    public int GetCount()
    {
        return count++;
    }

    public void Buy()
    {
        session.Hall.Places[place] = "true";
        Console.WriteLine(session.Id);
        dataBase.SessionReplace(session.Id, session);
    }

    public void Place(string placeNumber)
    {
        place = placeNumber;
    }

    protected override async Task OnInitializedAsync()
    {
        session = dataBase.FindSessionByMovieName(dataBase.CurrentMovie);
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "HallOne";
        await base.OnInitializedAsync();
    }
}