@page "/movie_info"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject Movie movie
@inject NavigationManager navigation

<PageTitle>Movie info</PageTitle>

<style type="text/css">
    .tableOne {
        display: inline-table;
        position: absolute;
        left: 23%;
        top: 10%;
    }

    .tableTwo {
        display: inline-table;
        position: absolute;
        left: 47%;
        top: 10%;
    }

    .tableThree {
        position: absolute;
        left: 23%;
        top: 70%;
    }

    .lblOne {
        text-decoration: underline;
        width: 100px;
        white-space: nowrap;
        font-weight: 700;
        font-size: 23px;
    }

    .lblTwo {
        font-size: 23px;
    }

    .button {
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
        height: 20%;
    }

    img {
        width: 20em;
        height: 27em;
        border-radius: 15%;
    }

    .button {
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
        height: 20%;
    }
</style>

<div class="tableOne">
    <table>
        <tr>
            <td><img src="images/@dataBase.CurrentMovie?.Poster" /></td>
        </tr>
    </table>
</div>

<div class="tableTwo">
    <table>
        <tr>
            <td><label class="lblOne">@dataBase.CurrentMovie?.Name</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Жанр:</label></td>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Genre</label></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Режиссер:</label></td>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Regisseur</label></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Продюсер:</label></td>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Producer</label></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Сценарий:</label></td>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Script</label></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Страна:</label></td>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Country</label></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Продолжительность:   </label></td>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Duration</label></td>
        </tr>
    </table>
</div>

<div class="tableThree">
    <table>
        <tr>
            <td><button class="button" @onclick="Buy">Сеансы</button><br /></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Описание:</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">@dataBase.CurrentMovie?.Description</label></td>
        </tr>
    </table>
</div>

@code {
    public void Buy()
    {
        navigation.NavigateTo("/session_time");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "MovieInfo";
        await base.OnInitializedAsync();
    }
}